<div class="row">
  <div class="signUp">
    <h2>Login</h2>

    <form class="myGroup login-form">
      <div class="myGroup">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
        <button class="btn btn-primary" id="loginBtn" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="signUp">
    <h2>Signup</h2>

    <form class="myGroup signup-form">
      <div class="myGroup">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
    
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
     =
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      
        <button class="btn btn-primary" id="signUpBtn" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
    