* {
  
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
h1,
h2 {
  font-family: "Press Start 2P";
  margin-bottom: 0.2rem;
  text-shadow: 2px 2px 3px black;
}
h2 {
  color: rgb(16, 194, 170);
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
    color: aquamarine;
}

/* img {
  box-shadow: 1px 1px 5px black;
  background-color: rgb(191, 252, 231);
} */
.controlla {
  margin-left: 0.5rem;
  padding-bottom: 0.2rem;
}
body {
  background-image: url("./imgs/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.topBar {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  background-color: rgb(46, 50, 73);
  background: linear-gradient(
    180deg,
    rgba(136, 148, 163, 1) 0%,
    rgba(92, 111, 134, 1) 22%,
    rgba(0, 19, 59, 1) 100%
  );
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  box-shadow: 1px 0px 5px black;
  z-index: 1;
}


.title {
  color: rgb(16, 194, 170);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 0.5rem;
  font-family: "Press Start 2P";
}

.thisDrop {
  color: rgb(16, 194, 170);
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  background-color: rgb(55, 56, 56);

  height: 7vh;
  padding-left: 1rem;
  padding-right: 2rem;
  margin-right: 1rem;
  position: relative;
  margin-right: 0rem;

}





.menu {
  color: rgb(16, 194, 170);
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  background-color: rgb(55, 56, 56);

  height: 7vh;
  padding-left: 1rem;
  padding-right: 2rem;
  margin-right: 1rem;
  position: relative;
}

.dropDown {
  font-size: 20px;
  
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 1rem;
}

.menubar {
  display: flex;
  align-content: flex-end;
}

.menubar a {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-right: 1rem;
  color: rgb(83, 172, 142);
  
  
}

.menubar a:hover {
  color: rgb(107, 238, 194);
  text-shadow: 0px 0px 3px rgb(45, 44, 78);
  transition: 500ms;
}








.searchbar {
  box-shadow: 0.3rem 0.3rem 1rem rgb(19, 25, 43);

  display: flex;
  flex-direction: row;
  height: 3rem;
}
.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(46, 79, 105);
}
.searchButton:hover {
  background-color: rgb(70, 122, 161);
}
.searchButton:focus {
  background-color: rgb(220, 240, 255);
}

.searchtype {
  font-size: 1.5rem;
  border-radius: 5px 0px 0px 5px;
  width: 30rem;
  text-align: center;
}
.topResults {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem;
}

.cardContainer {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;

  width: 80vw;
  border-style: solid;
  background: rgb(198, 198, 198);
  background: radial-gradient(
    circle,
    rgba(198, 198, 198, 1) 1%,
    rgb(77, 121, 84) 45%,
    rgb(37, 41, 78) 100%
  );

  opacity: 0.5;
  transition: 1s;
}

.cardContainer:hover {
  transition: 1s;
  box-shadow: 0px 5px 15px black;
  opacity: 1;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  width: 300px;
  height: 200px;
}

.gamePic {
  opacity: 0.5;
  transition: 1s;
  width: 250px;
}
.gamePic:hover {
  width: 300px;
  opacity: 1;
  transition: 1s;
}
/* img {
  box-shadow: 1px 1px 7px rgba(39, 39, 39, 0.418);
} */

.spacing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  opacity: 0.5;
}

.spacing:hover {
  opacity: 1;
  transition: 1s;
}


.signUp {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:3rem;
  text-align: center;
}


.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  
  
}


.platformBox {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.console {
  color: rgb(16, 194, 170);
  padding: 1rem;
  
}

.message {
 
  padding: 1rem;
  text-align: center;
  color: rgb(221, 255, 230);
    font-family: 'Poppins';
    font-size: 30px;
    text-shadow: 1px 1px 3px black;
}

.plats {
  text-align: center;
  color: black;
}

/* .rating, .plats {
  text-decoration: none;
  color: black;
} */


.gameDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  padding-bottom: 0px;
}

.gameDisplay > * {
  padding: 1rem;
}

.picDisplay {
  width: 55vw;
}

.commentForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: .5;
  width: 50vw;
  height: 30vh;
  transition: 1s;
  
}

.commentForm:hover {
  transition: 1s;
  opacity: 1;
  box-shadow: 0px 0px 30px rgb(149, 248, 190);
}

.userReview {
  width: 80vw;
  height: 40vh;
  
}



.userTitle {
  width: 80vw;
  height: 20vh;

 
}

.userComments {
  
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  height: 20vh;
  overflow-y: scroll;
  padding: 2rem;
  margin-bottom: 2rem;
 
  
}
.commentblock {
  background-color: rgb(65, 61, 83);
  display: flex;
  justify-content: space-between;
  color: aquamarine;
  text-shadow: 1px 1px 3px black;
  box-shadow: 1px 1px 5px black;
  padding: 2rem;
  gap: 1rem;
  border: 1px solid black;
  width: 80vw;
  font-size: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  opacity: .5;
  transition: 1s;
}

.commentblock:hover {
  transition: 1s;
  opacity: 1;
}

#submitBtn {
  width: 80vw;
  height: 20vh;
  color: aquamarine;
  background-color: rgb(88, 121, 110);
  border-radius: 0px 0px 5px 5px;
}

#submitBtn:hover {
  transition: 1s;
  color: rgb(88, 121, 110);
  background-color: aquamarine;
  box-shadow: 0px 0px 5px white;
}

.dis {
  color: rgb(123, 211, 177);
  text-shadow: 1px 1px 5px black;
}

.commentBox {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding: 2rem;
}

.logoutBtn {
  border: none;
  background-color: none;
}
.platLogo {
  width: 50px;
  padding: 1rem;
}


.console, .message {
  padding: 3rem;
}

.styler {
  font-size: 16px;
  text-align: center;
  text-shadow: 1px 1px 5px black;
  color: aquamarine;
  border: 2px solid black;
  background: rgb(136,148,163);
  background: linear-gradient(191deg, rgba(136,148,163,1) 0%, rgba(92,111,134,1) 22%, rgb(36, 61, 116) 100%);
}

::placeholder {
  color: aquamarine;
  opacity: .5;
  
}

.top {
  border-radius: 5px 5px 0px 0px;
}

.noPad {
  padding: 0px;
}

.myGroup {
  background-color: rgb(62, 116, 84);
  border-radius: 1rem;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 30vh;
    opacity: .5;
    transition: 1s;
}

.myGroup:hover {
  transition: 1s;
  opacity: 1;
  box-shadow: 0px 0px 30px rgb(149, 248, 190);
}

.form-input {
  width: 30vh;
  height: 5vh;
}
/* 
.hidden {
  display: none !important;
  
} */
/*  */