* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: monospace;
}
h1,
h2 {
  font-family: "Press Start 2P";
  margin-bottom: 0.2rem;
  text-shadow: 2px 2px 3px black;
}
h2 {
  color: rgb(16, 194, 170);
}
.controlla {
  margin-left: 0.5rem;
  padding-bottom: 0.2rem;
}
body {
  background-image: url("./imgs/background.png");
  background-size: 105%;
}
.topBar {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  background-color: rgb(46, 50, 73);
  background: linear-gradient(
    180deg,
    rgba(136, 148, 163, 1) 0%,
    rgba(92, 111, 134, 1) 22%,
    rgba(0, 19, 59, 1) 100%
  );
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  box-shadow: 1px 0px 5px black;
  z-index: 1;
}


.title {
  color: rgb(16, 194, 170);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 0.5rem;
  font-family: "Press Start 2P";
}

.thisDrop {
  color: rgb(16, 194, 170);
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  background-color: rgb(55, 56, 56);

  height: 7vh;
  padding-left: 1rem;
  padding-right: 2rem;
  margin-right: 1rem;
  position: relative;
  margin-right: 0rem;

}





.menu {
  color: rgb(16, 194, 170);
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  background-color: rgb(55, 56, 56);

  height: 7vh;
  padding-left: 1rem;
  padding-right: 2rem;
  margin-right: 1rem;
  position: relative;
}

.dropDown {
  font-size: 20px;
  
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 1rem;
}

.menubar {
  display: flex;
  align-content: flex-end;
}

.menubar a {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-right: 1rem;
  color: rgb(83, 172, 142);
  
  
}

.menubar a:hover {
  color: rgb(107, 238, 194);
  text-shadow: 0px 0px 3px rgb(45, 44, 78);
  transition: 500ms;
}








.searchbar {
  box-shadow: 0.3rem 0.3rem 1rem rgb(19, 25, 43);

  display: flex;
  flex-direction: row;
  height: 3rem;
}
.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(46, 79, 105);
}
.searchButton:hover {
  background-color: rgb(70, 122, 161);
}
.searchButton:focus {
  background-color: rgb(220, 240, 255);
}

.searchtype {
  font-size: 1.5rem;
  border-radius: 5px 0px 0px 5px;
  width: 30rem;
  text-align: center;
}
.topResults {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem;
}

.cardContainer {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;

  width: 80vw;
  border-style: solid;
  background: rgb(198, 198, 198);
  background: radial-gradient(
    circle,
    rgba(198, 198, 198, 1) 1%,
    rgb(77, 121, 84) 45%,
    rgb(37, 41, 78) 100%
  );

  opacity: 0.5;
  transition: 1s;
}

.cardContainer:hover {
  transition: 1s;
  box-shadow: 0px 5px 15px black;
  opacity: 1;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.gamePic {
  opacity: 0.5;
  transition: 1s;
  width: 250px;
}
.gamePic:hover {
  width: 300px;
  opacity: 1;
  transition: 1s;
}
/* img {
  box-shadow: 1px 1px 7px rgba(39, 39, 39, 0.418);
} */

.spacing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  opacity: 0.5;
}

.spacing:hover {
  opacity: 1;
  transition: 1s;
}


.signUp {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding:3rem;
  text-align: center;
}


.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  
}
.plats {
  text-align: center;
  color: black;
}

.rating, .plats {
  text-decoration: none;
  color: black;
}
.hidden {
  display: none;
}

.gameDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.gameDisplay > * {
  padding: 1rem;
}

.picDisplay {
  width: 55vw;
}

.commentForm {
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
}

.userReview {
  width: 25vw;
  height: 10vh;
  transition: 1s;
}

.userReview:hover {
  transition: 1s;
  width: 50vw;
  height: 20vh;
}
.userComments {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
 
  
}
.commentblock {
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 1rem;
  border: 1px solid black;
  width: 50vw;
}



.dis {
  color: rgb(185, 252, 226);
  text-shadow: 1px 1px 5px black;
}