    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/MAINPROJECTFOLDER/public/css/style.css" rel="stylesheet">
        <title>Game Review</title>
    </head>
    <body>
        <header>
            <div>GameReview</div>
            <a href="/MAINPROJECTFOLDER/views/login.handlebars">
                LogIn/SignUp
            </a>
        </header>
        <main>
            {{!-- search bar --}}
            {{!-- card containing recent game review image/ title/ review --}}
        </main>
        <footer>
            <div>
            {{!-- details of game above --}}
            </div>
        </footer>
        
    </body>
    </html>