<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        </style>
    <link rel="stylesheet" href="css/style.css">
    <title>👾GAME REVIEW👾</title>
</head>
<body>
    <header class="topBar">
        <h1 class="title">Game Reviewer<img class="controlla" src="./imgs/games-21600.png" width= "40rem"alt="controller"></h1>
        
        
            <div class="dropDown">
                <div class="menubar">
                    <a href="/">Home</a>
                    <a href="index2.html">PC</a>
                    <a href="index2.html">PS</a>
                    <a href="index2.html">XBox</a>
                    <a href="index2.html">Nintendo</a>
                    <a href="/login">Log In</a>
                </div>
                
            </div>
    </header>
    
    {{{body}}}
    
</body>
</html>